/** 
*
* VARIABLES
*
*/

//=====================================================
// COLOR
//=====================================================

// Grayscale first design palette
$color-primary: #ccc;
$color-secondary: #999;

$color-grey-dark: #4c4c4c;
$color-grey-light: #dedede;

// Basic
$color-white: #fff;
$color-black: #101010;

$color-link: $color-secondary;
$color-link-hover: darken($color-link, 10%);

// Global
$global-background-color: $color-white;

// Buttons
$accent-color: $color-primary;

//=====================================================
// CONTAINERS
//=====================================================

// (Media query ~ breakpoints)
// 0 - 600px        :     Phone
// 600 - 900px      :     Tablet portrait
// 900 - 1200px     :     Tablet landscape
// 1200 - 1800px    :     ~ Desktop 
// 1800px +         :     Large desktop

// Convert to em for accessible media queries (px / 16)

$x-small: 480px;
$small: 750px;
$medium: 992px;
$large: 1200px;

// Sets the width of the containers
$container-gutter: 0.95;

//=====================================================
// GRID
//=====================================================

// Controls the number of columns for the layout
$grid-columns: 12;
$grid-column-padding: 1.5rem;

// Rows
$row-gallery-height: 20rem;

//=====================================================
// TYPOGRAPHY
//=====================================================

// Set the default to  1rem size for browser window resize
$base-font-size: 62.5%;
$base-line-height: 1.5;

// Global
$font-family-primary: "Roboto", "Arial", sans-serif;
$font-color-primary: $color-grey-dark;
$font-color-secondary: $color-white; 
$font-size-primary: 1.6rem;

// Headings
$heading-font-family-primary: "Roboto", "Arial", sans-serif;
$heading-font-color-primary: $color-grey-dark;
$heading-font-weight: 700;
$heading-line-height: 1.2;

// Small headings
$h1-small: 2.8rem;
$h2-small: 2.6rem;
$h3-small: 2.2rem;
$h4-small: 1.8rem;
$h5-small: 1.4rem;

// Primary headings
$h1-primary: 3.6rem;
$h2-primary: 3.2rem;
$h3-primary: 2.8rem;
$h4-primary: 2.4rem;
$h5-primary: 2rem;

// Block element spacing
$typography-margins: 1.2rem;

// Blockquote
$blockquote-font-size: 1.3rem;
$blockquote-border-color: $color-grey-dark;
$blockquote-background-color: transparent;

// Letter spacing
$letter-spacing-content: .8px;
$letter-spacing-heading: 1px;

//=====================================================
// SPACING
//=====================================================

$margin-utility: 1rem;
$padding-utility: 1rem;

//=====================================================
// Borders
//=====================================================

$border-width: 1px;
$border-style: solid;
$border-color: $color-grey-dark;
$border-radius: 4px;
$borders: $border-width $border-style $border-color;

//=====================================================
// NAVIGATION
//=====================================================

$navbar-padding: 1rem;
$mobile-navbar-padding: 2.5rem;

$navbar-link-color-hover: darken($color-primary, 15%);

$mobile-navbar-background-color: $global-background-color;

//=====================================================
// FORMS
//=====================================================

$buttons: (".button, a.button, button, [type=submit], [type=reset], [type=button]");

$forms: (
  "[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea"
);
$input-background: #f2f2f2;
$placeholder: darken($accent-color, 20%);
$form-border: 1px solid $border-color;
$form-border-hover: 1px solid darken($border-color, 10%);
$form-border-focus: 1px solid $color-link;

$success: green;
$error: red;

//======================================================
// Buttons
//======================================================

$button-background-color: $color-secondary;
$button-background-hover: darken($button-background-color, 10%);
$button-color: $color-white; 
$button-font-weight: 600;
$button-font-family: "Roboto", "Arial", sans-serif;
$button-font-size: $font-size-primary;
$button-border-width: 1px;
$button-border-style: solid;
$button-border-color: $button-background-color;
$button-border-radius: $border-radius;
$button-text-transform: none;

// Accent buttons
$accent-button-background-color: $color-primary;
$accent-button-color: $color-white;
$accent-button-color-hover: lighten($accent-button-background-color, 10%);

// Muted Buttons
$muted-border: 1px solid $accent-color;
$muted-border-hover: 1px solid darken($accent-color, 30%);
$muted-background: transparent;
$muted-background-hover: transparent;
$muted-color: darken($accent-color, 50%);
$muted-color-hover: darken($accent-color, 50%);

// Round Buttons
$round-buttons: 40px;

//==============================================================================
// Code
//==============================================================================

$code-color: $font-color-primary;
$code-size: 14px;
$code-family: Menlo, monospace;
$code-background: #e5e5e5;
$code-borders: $borders;